.container {
    margin: 0 auto;
}

body {
    font-family: Arial;
    font-size: 16px;
    color: Black;
    background-color: #ffffff;
}


/* #add {
    color: rgb(231, 223, 225);
    padding-left: 20px;
    padding-right: 20px;
    background: blanchedalmond;
    font-size: larger;
} */

#add:hover {
    background-color: rgb(31, 109, 199);
    color: azure;
}

input {
    border-radius: 10px;
    border: 2px crimson solid;
}

h1 {
    color: crimson;
    font-family: monospace;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    border: 2px solid crimson !important;
    background: rgba(128, 128, 128, .5);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

li span {
    font-size: 20px;
    padding: 10px 7px 0 11px;
}

li span:focus {
    background-color: #ffffff;
    color: black;
    padding: 10px;
}

button {
    color: white;
    background: crimson;
    font-size: larger;
    float: right;
}

.task-list {
    min-height: 250px;
}

.done1 {
    min-height: 250px;
}

.input input {
    width: 98%;
    height: 40px;
    border: solid 3px;
}

.input button {
    float: left;
    color: rgb(231, 223, 225);
    padding-left: 20px;
    padding-right: 20px;
    background: blanchedalmond;
    font-size: larger;
}

.input button:hover {
    background-color: #ffffff;
    color: crimson;
}

#reset {
    margin-left: 12px;
}